body{
    /* align-content: center; */
    font-family: 'Comfortaa', cursive;  
    /* font-family: 'Roboto Slab', serif; */
    /* font-weight:500; */
    color: white;
    background-color: rgb(59, 126, 172);
    width:95vw;
    height:95vh;
    margin:0px;
}
#title{
    display: block;
    border:1px;
    position: absolute;
    text-align: center;
    top:40vh;
    left:38vw;
    font-size: 1.5vw ;
}

#intro{
    position: absolute;
    width:13vw;
    top:30vh;
    right:6vw;
    font-size: 0.833vw;
    line-height: 1.563vw;
}
.button {
    position: relative;
    background-color:#74bde2 ;
    /* background-color: #a0e0ff ; */
    border: none;
    color: white;
    padding: 0.781vw 1.667vw;
    text-align: center;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 0.833vw;
    border-radius: 0.8vw;
    /* opacity:0.7; */
  }

  .button:hover{
      background-color: #a0e0ff ;
      opacity:1;
  }
 @media only screen and (max-width: 800px){
    html, body {
        margin: 0;
        padding: 25px 2px;
    }
    .header {
        padding: 0px 30px;
    }
    .header h1{
        font-size:40px;
    }
    .header h2 {
        font-size: 18;
    }
    #number {
        font-size: 40px;
    }
    .container{
        margin-top: 80px;
    }
    .button{
        font-size: 15px;
        border-radius: 5px;
        }
    .column.center{
        margin-top: 10px;
    }
    .footer h2{
        font-size: 14px;
        padding: 50px 10px 0px 0px;
    }
    #myVideo {
        width: 95%;
        border-radius: 10px;
    }
}