body{
      /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Chelsea Market', cursive; */
  /* font-family: 'Taviraj', serif; */
  /* font-family: 'Cardo', serif; */
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Cinzel', serif;
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Comfortaa', cursive;   */
    color: white;
    background-color:rgb(63, 179, 221);
    /* width:95vw;
    height:95vh; */
    margin:0px;
}
#title{
    display: block;
    border:1px;
    position: absolute;
    text-align: center;
    top:40vh;
    left:34vw;
    font-size: 1.5vw ;
}

#intro{
    position: absolute;
    width:13vw;
    top:30vh;
    right:6vw;
    font-size: 0.833vw;
    line-height: 1.563vw;
}
.button {
    position: relative;
    background-color:#74bde2 ;
    /* background-color: #a0e0ff ; */
    border: none;
    color: white;
    padding: 0.781vw 1.667vw;
    text-align: center;
    display: inline-block;
    /* font-family: 'Comfortaa', cursive; */
    font-size: 0.833vw;
    border-radius: 0.8vw;
    /* opacity:0.7; */
  }

  .button:hover{
      background-color: #a0e0ff ;
      opacity:1;
  }
 @media only screen and (max-width: 800px){
    #title{
    display: block;
    border:1px;
    position: absolute;
    text-align: center;
    top:32vh;
    left:17.5vw;
    font-size: 4vw ;
    width:65vw;
    }
    /* #intro{
    width:30vw;
    right:30vw;
    font-size: 1.5vw;
    line-height: 2vw;
    } */
    #intro{
        width:80vw;
        top:75vh;
        left:10vw;
        font-size: 1.5vw;
        line-height: 3vw;
    }
    #q{
        width:20vw;
        display:none;
    }
    
    #button {
        position: absolute;
        left:60vw;
        top:15vh;
        background-color:rgb(103, 229, 255);
        opacity: 0.8;
        /* background-color: #a0e0ff ; */
        border: none;
        color: white;
        padding: 0.781vw 1.667vw;
        text-align: center;
        display: inline-block;
        /* font-family: 'Comfortaa', cursive; */
        font-size: 1.5vw;
        border-radius: 0.8vw;
        /* opacity:0.7; */
      }
}