body{
    /* align-content: center; */
    font-family: 'Comfortaa', cursive;  
    color: white;
    background-color: rgb(59, 126, 172);
}
#title{
    display: block;
    border:1px;
    position: absolute;
    text-align: center;
    top:40vh;
    left:38vw;
    font-size: 1.5vw ;
}

#intro{
    position: absolute;
    width:13vw;
    top:30vh;
    right:6vw;
    font-size: 0.833vw;
    line-height: 1.563vw;
}
.button {
    position: relative;
    background-color:#74bde2 ;
    /* background-color: #a0e0ff ; */
    border: none;
    color: white;
    padding: 0.781vw 1.667vw;
    text-align: center;
    display: inline-block;
    font-family: 'Comfortaa', cursive;
    font-size: 0.833vw;
    border-radius: 0.8vw;
    /* opacity:0.7; */
  }

  .button:hover{
      background-color: #a0e0ff ;
      opacity:1;
  }
 