body {
  /* font-family: 'Roboto Mono', monospace; */
  /* font-family: 'Montserrat', sans-serif; */
  /* font-family: 'Cormorant Garamond', serif; */
  /* font-family: 'Chelsea Market', cursive; */
  /* font-family: 'Taviraj', serif; */
  /* font-family: 'Cardo', serif; */
  /* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Cinzel', serif;
  line-height: 80%;
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Comfortaa', cursive;   */
  color: white;
  
  /* margin-top: 17vh; */
  margin-top: 23vh;

  /* margin-left: 28vw;  */
  margin-left:37vw;

  background-color:rgb(63, 179, 221);

}
#main{
  position: absolute;
  top:7vh;
  left:7vw;
  width:93vw;
}
#flake{
  position: absolute;
  top:17vh;
  width: 53vw;
  /* width: 65vw; original*/
  height: 74vh;
  border-radius: 50px;
 
 
    /* background-color: white; */
    /* border: 1px solid #000; */
    /* overflow: hidden; */

  /* background-image: linear-gradient(#6eb3d6, white); */
}
#pageTitle {
  position: relative;
  top:3.5vh;
  font-size:4vw;
  font-weight: 100;
  color:white;
}
.contents{
  /* position: absolute; */
  top:10vh;
  left:2vw;
  font-size:1.667vw;
  font-weight: 100;
  color:white;
  width:25vw;
}
#temperature{
  position: relative;
  top:11vh;
  
}
#temp{
  position: relative;
  top:1vh;
}

#tempDes{
  position: relative;
  top:1vh;
}

#humidity{
  position: relative;
  top:15vh;
}

#humid{
  position: relative;
  top:1vh;
}

#humiDes{
  position: relative;
  top:1vh;
}

.small{
  line-height: 1.563vw;
  font-size: 0.833vw;
}
/* d0cdff a0e0ff  */
.slidecontainer {
    width: 100%; /* Width of the outside container */
    position:absolute;
    top:6vh;
  }
.slider {
    /* range */
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 20vw; 
    height: 1vh; 
    margin-top:0.781vh;
    margin-bottom:1vh;
    /* background: #d3d3d3; */
    background: #ffffff;
    border-radius: 1vw;
    outline: none; 
    opacity: 0.8; 
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;

  }
  
  /* Mouse-over effects */
.slider:hover {
    opacity: 1; 
  }
  /* square */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 22px; 
    height: 22px; 
    /* background:#9bdeff; */
    background:rgb(103, 229, 255);
    border-radius: 1vw;
    /* background:#a0e0ff; */

    /* background: rgb(18, 146, 163);  */
    cursor: pointer; 
  }
  
.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    background: rgb(29, 229, 255); 
    cursor: pointer; 
  }

.botcontents1{
  position: relative;
  top:36vh;
  width:22vw;
/* 
    margin-top:0px;
    line-height: 50px; */
}

#displaysnowflaketype{
  line-height: 60px;
}
.botcontents2{
  position:absolute;
  top:63.5vh;
}
#location{
  line-height: 60px;
}

.last{
  position: absolute;
  top: 82vh;
}

#link{
  position: absolute;
  top:90vh;
  right:7vw;
  
}

a{
  font-family: 'Roboto', sans-serif;
  font-size: 20;
  font-weight:100;
  color:white;
  text-decoration: none;
}

@media only screen and (max-width: 800px){
  body{
    /* font-family: sans-serif; */
    /* margin-top: 17vh; */
    margin-left: 32vw; 
  }
  #main{
    width:62vw;
    left:1.5vw;
    margin-left: auto;
    margin-right: auto;
  }
  #pageTitle {
    
    position: absolute;
    
    top:5vh;
    left:2vw;
    font-size:7vw;
    
  }

  .slidecontainer{ 

    font-size:3.5vw;
    font-weight: 100;
  }
  .slider{
    width: 25vw;
  }
  .slider::-webkit-slider-thumb {
    width: 15px; 
    height: 15px; 
    outline: none;
  }
  .contents{
    position: absolute;
    top:10vh;
    left:2vw;
    font-size:2.5vw;
    font-weight: 100;
    color:white;
    width:25vw;
  }
  #temperature{
    position: absolute;
    top:0vh;
  }
  #humidity{
    position: absolute;
    top:13vh;
  }

  .botcontents1{
    position: absolute;
    top:33vh;
    width:25vw;
    font-size:2.5vw;
  }
  
  #displaysnowflaketype{
    line-height: 6vw;
  }

  .botcontents2{
    position: absolute;;
    top:55vh;
    width:25vw;
    font-size:2.5vw;
    line-height: 2vw;
  }
  #location{
    line-height: 7vw ;
  }

  .sub{
    font-size: 3.5vw;    
  }

  .small{
    line-height: 3.5vw;
    font-size: 1.5vw;
  }

  .last{
    position: absolute;
    top: 69vh;
    line-height: 3vh;
    /* width:50vw; */
  }

  #link{
    position: absolute;
    bottom:5vw;
    left:78vw;
    
  }
  
  a{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight:100;
    color:white;
    text-decoration: none;
  }

}
